.box {
  background: white;
  //   padding: 90px 200px;
  //   position: absolute;
  width: 500px;
  height: 400px;
  & form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  // flex-direction: column;
}
.close {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 30px;
  padding-top: 10px;
  & svg {
    cursor: pointer;
  }
}
.st{
  padding-top: -50px;
  color:red;
}
.star {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
  align-items: center;
  & button {
    margin-top: 15px !important;
  }
  & label {
    font-size: 40px;
  }
}
.text {
  & label {
    font-size: 16px !important;
  }
}
