@mixin lg {
  @media (max-width: 886px) {
    @content;
  }
}

@mixin mob {
  @media (max-width: 570px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 995px) {
    @content;
  }
}
.grid {
  display: flex;
  @include mob {
    flex-direction: column-reverse;
  }
}
.sub {
  position: relative;
  border-radius:12px;
  margin: 10px;
  // background-color: black;
  height: 93vh;
  width: 500px;
  @include mob {
    width: 100%;
    height: 30vh;
  }
}
.map{
  margin-left: 80px;
  width: 500px;
  height: 600px;
  border-radius:12px;
  // position: absolute;
}
.main {
  width: 75%;
  background-color: white;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mob {
    width: 100%;
   min-height:90vh;
  }
}
